{% extends 'base.html' %} {% block head %}
<title>Landing Page</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/nav.css') }}"
/>
{% endblock head %} {% block content %}
<div class="container">
  {% include 'nav.html' %}
  <img
    src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
    width="200px"
    height="200px"
  />
</div>
{% endblock content %}
