* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .fa-solid {
    color: cornflowerblue;
    margin-right: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid cornflowerblue;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 6px;
    color: #333;
}

header h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #666;
}

header a {
    margin: 0 10px;
    color: #333;
}

header .fa-github:hover {
    color: #2dba4e;
}

header .fa-linkedin:hover {
    color: #0077B5;
}

.skills, .education, .projects, .exp {
    margin-bottom: 20px;
}

.skills p, .education p, .projects p, .exp p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.skills b, .education b, .projects b, .exp b {
    color: cornflowerblue;
}

.education h3, .projects h3, .exp h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid cornflowerblue;
    display: inline-block;
}

.education h4, .projects h4, .exp h4 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.projects ul, .exp ul {
    list-style-type: disc;
    padding-left: 20px;
}

.projects ul li, .exp ul li {
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    .container {
        padding: 10px 20px;
    }

    header h1 {
        font-size: 1.5em; /* Adjusted size */
    }

    .education h3, .projects h3, .exp h3 {
        font-size: 1.2em; /* Adjusted size */
    }

    .education h4, .projects h4, .exp h4 {
        font-size: 1em; /* Adjusted size */
    }
}