nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  overflow: hidden;
  border: 1px #1a1a1a solid;
}

nav ul li {
  background: #1a1a1a;
  display: inline;
  float: right;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav ul a:hover {
  background: white;
  color: #1a1a1a;
}
